.owl-dots {
	color: #000;
}
* {
	color: #000;
}
a {
	color: #000;
	text-decoration: none;
}
p {
  margin: 0;
	word-wrap: break-word;
}
body {
	margin: 0;
	overflow-x: hidden;
}
table caption {
	color: #000;
}
section {
	margin: 30px 0;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}

#headerBackground {
  background-color: #f99543;
}

header {
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.5);
  width: 100vw;
  background-color: #333;
  color: #FFF;
}
header a {
  color: #FFF;
}
header a:hover {
	color: #FFF;
	text-decoration: underline;
}
header a h1 {
  margin: 0;
  padding: 15px;
  display: inline-block;
  vertical-align: middle;
}
header a img {
  height: 70px;
  display: inline-block;
}
#headerBackground h3 {
	margin: 15px 0;
}

#carousel {
  min-height: 30vh;
  padding: 15px 30px 0 30px;
  text-align: center;
	width: 100%;
}
.owl-stage-outer, .owl-stage, .owl-item {
  height: 100% !important;
}
.item {
	display: block;
	height: 100% !important;
	text-align: center;
}

#carousel .item img {
  display: inline-block;
	height: 420px;
	width: auto;
	max-width: 100%;
	margin: auto;
}

#newsArticles {
  height: 300px;
  overflow-y: auto;
  background-color: #FFF;
  padding: 10px;
	border: 2px solid #333;
}
#newsArticles article {
  margin-bottom: 10px;
}
#newsArticles h4 {
  margin: 0;
}
#newsArticles p {
  text-align: justify;
}

#calendar {
  text-align: left;
  background-color: #FFF;
  border-collapse: collapse;
  font-family: cursive;
}
#calendar {
  text-align: center;
  font-size: 1.2em;
}
#calendar tbody tr td, #calendar thead tr td {
  border: 2px solid #000;
  padding: 5px;
}
.Milieu {
  text-align: center;
}
#calendar_active {
  background-color: #f99543;
}
blockquote {
  display: block;
  text-align: center;
  font-style: italic;
  margin: 15px;
  border: none;
}


#main p {
	text-align: justify;
}
#websites table, #websites thead tr th {
	text-align: center;
}
#websites thead tr th {
	width: 20%;
}
#websites thead tr th a img {
	width: 10vw;
}
#websites tbody tr td {
	padding: 0 5px;
	font-size: 1.1em;
}
.websitesImg:hover {
  background-color: #333;

}

#tableCycle {
	border-collapse: collapse;
}
#tableCycle tbody {
  text-align: center;
}
#tableCycle td {
  padding: 5px;
}
#meterCycleFeatures {
  width: 150px;
  background-color: #555;
  height: 15px;
  display: inline-block;
	border: 2px solid #333;
	border-right: none;
}
#meterCycleBugs {
  width: 50px;
  background-color: #f99543;
  height: 15px;
  display: inline-block;
	border: 2px solid #333;
}
#meterCycleFeaturesText {
	color: #555;
}
#meterCycleBugsText {
	color: #f99543;
}

footer {
  margin-top: 30px;
  padding: 30px;
  background-color: #111;
  color: #FFF;
}
footer a {
  color: #FFF;
  text-decoration: none;
}


#legalMain, #newsMain, #areaMain {
	min-height: calc(100vh - 70px);
}
#areaNewArticle {
	border: 1px solid #000;
	margin: 10px inherit;
}
#areaNewArticle textarea {
	width: 100%;
	height: 100px;
}
#areaTable {
	border-collapse: collapse;
}
#areaTable tr {
	border: 1px solid #000;
}
#areaTable td {
	padding: 5px;
}
